{% extends 'homepage/basic.html' %}
{% load static %}

{% block content %}
<div class="probootstrap-main">

  <section class="probootstrap-section-half">
    <div class="probootstrap-image probootstrap-animate" data-animate-effect="fadeIn" style="background-image: url({% static 'homepage/img/image_3.jpg' %})"></div>
    <div class="probootstrap-text">
      <div class="probootstrap-inner probootstrap-animate">
        <h1 class="heading">회사 소개 파트</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum asperiores dicta tempore dolores odit eveniet, vel itaque recusandae sunt consequuntur quod dolor sint non accusamus et a, sequi. Vitae, necessitatibus!</p>
        <p><a href="single-page.html" class="btn btn-primary">Learn More</a></p>
      </div>
    </div>
  </section>
  <!-- END section -->
  <section class="probootstrap-section-half probootstrap-reverse">
    <div class="probootstrap-image probootstrap-animate"  data-animate-effect="fadeIn" style="background-image: url({% static 'homepage/img/image_2.jpg' %})"></div>
    <div class="probootstrap-text">
      <div class="probootstrap-inner probootstrap-animate">
        <h1 class="heading">제품명</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi eaque ut commodi est, voluptate iusto illum dolore placeat, omnis sit velit asperiores nobis nulla aut quibusdam in ipsum officia rerum.</p>
        <p><a href="single-page.html" class="btn btn-primary">Learn More</a></p>
      </div>
    </div>
  </section>
  <!-- END section -->
  <section class="probootstrap-section-half">
    <div class="probootstrap-image probootstrap-animate" data-animate-effect="fadeIn" style="background-image: url({% static 'homepage/img/image_3.jpg' %})"></div>
    <div class="probootstrap-text">
      <div class="probootstrap-inner probootstrap-animate">
        <h1 class="heading">제품명</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil optio libero magni dolor! Dicta obcaecati, fugit ab voluptatum consequatur ex! Provident fugiat cum explicabo illo sed dolore autem ea vero.</p>
        <p><a href="single-page.html" class="btn btn-primary">Learn More</a></p>
      </div>
    </div>
  </section>
  <!-- END section -->
  <section class="probootstrap-section-half probootstrap-reverse">
    <div class="probootstrap-image probootstrap-animate" data-animate-effect="fadeIn" style="background-image: url({% static 'homepage/img/image_4.jpg' %})"></div>
    <div class="probootstrap-text">
      <div class="probootstrap-inner probootstrap-animate">
        <h1 class="heading">제품명</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est excepturi itaque qui odio, consectetur veniam quisquam asperiores dolores repellat fugiat maiores repellendus laborum recusandae voluptatibus, quis eum nisi id dolor.</p>
        <p><a href="single-page.html" class="btn btn-primary">Learn More</a></p>
      </div>
    </div>
  </section>
{% endblock %}
