<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org./dtd/mybatis-3-config.dtd">
 <configuration>
 
 	<typeAliases>
		<typeAlias type="kookdo.conn.model.BoardVO" alias="boardVO"/>
		<typeAlias type="kookdo.conn.model.UserVO" alias="userVO"/>
    </typeAliases>
    
    <!-- 
    <mappers>
    	<mapper  resource="kookdo.com.sqlMapper.board.xml" />
    </mappers>
     -->

 </configuration>
