{% load static %}

<!-- 본 베이직 템플릿은 회사 로고, 메뉴, 전체적 레이아웃, footer 만 포함하고 있음 -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>국도머신(주)</title>

    <!-- CSS -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'homepage/css/styles-merged.css' %}">
    <link rel="stylesheet" href="{% static 'homepage/css/style.min.css' %}">
    <link rel="stylesheet" href="{% static 'homepage/css/custom.css' %}">
  </head>

  <body>

    <!-- START: header -->
    <div class="probootstrap-loader"></div>

    <header role="banner" class="probootstrap-header">
      <div class="container">
          <a href="index.html" class="probootstrap-logo">국도머신 로고</a>

          <a href="#" class="probootstrap-burger-menu visible-xs" ><i>Menu</i></a>
          <div class="mobile-menu-overlay"></div>

          <nav role="navigation" class="probootstrap-nav hidden-xs">
            <ul class="probootstrap-main-nav">
              <li class="dropdown"><button class="dropbtn"><a href="{% url 'about_overview' %}">About</a></button>
              </li>
              <li class="dropdown"><button class="dropbtn">Products</button>
                <span class="dropdown-content">
                  <a href="#">유압식 절단기</a>
                  <a href="#">유압식 절곡기</a>
                  <a href="#">코너 샤링머신</a>
                  <a href="#">CNC V-컷팅머신</a>
                  <a href="#">NC 펀칭프레스</a>
                </span>
              </li>
              <li class="dropdown"><button class="dropbtn">Contact Us</button>
                <span class="dropdown-content">
                  <a href="#">Information</a>
                  <a href="#">온라인 견적</a>
                  <a href="#">매각신청</a>
                </span>
              </li>
              <li class="dropdown"><button class="dropbtn">Login</button>
                <!--
                <span class="dropdown-content">
                  <a href="#">Link1</a>
                  <a href="#">Link2</a>
                </span>
              -->
              </li>

              <!-- 선택적 메뉴들 -->
              <!--
              <li class="dropdown"><button class="dropbtn">Support</button>
                <span class="dropdown-content">
                  <a href="#">절곡 계산기</a>
                </span>
              </li>
              <li class="dropdown"><button class="dropbtn">My Pages</button>
                <span class="dropdown-content">
                  <a href="#">출장 보고서</a>
                  <a href="#">스케줄</a>
                  <a href="#">거래처 등록</a>
                  <a href="#">수주보고서</a>
                </span>
              </li>
              <li class="dropdown"><button class="dropbtn">CEO page</button>
                <span class="dropdown-content">
                  <a href="#">미정</a>
                </span>
              </li>
            -->
            </ul>
            <div class="extra-text visible-xs">
              <a href="#" class="probootstrap-burger-menu"><i>Menu</i></a>
              <h5>Address</h5>
              <p>198 West 21th Street, Suite 721 New York NY 10016</p>
              <h5>Connect</h5>
              <ul class="social-buttons">
                <li><a href="#"><i class="icon-twitter"></i></a></li>
                <li><a href="#"><i class="icon-facebook2"></i></a></li>
                <li><a href="#"><i class="icon-instagram2"></i></a></li>
              </ul>
            </div>
          </nav>
      </div>
    </header>
    <!-- END: header -->

    <!-- START: 본문 내용 -->
    <section class="content">
      {% block content %}
      {% endblock %}
    </section>
    <!-- END: 본문 내용 -->

    <!-- START: footer -->
    <footer class="probootstrap-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p>&copy; 2017 <a href="https://probootstrap.com/">ProBootstrap:Connect</a>. All Rights Reserved. <br> Designed &amp; Developed by <a href="https://probootstrap.com">ProBootstrap</a> Demo Images <a href="https://unsplash.com/">Unsplash</a></p>
          </div>
        </div>
      </div>
    </footer>
    <!-- END: footer -->

    <!-- 맨 위로 버튼 -->
    <div class="gototop js-top">
      <a href="#" class="js-gotop"><i class="icon-chevron-thin-up"></i></a>
    </div>

    <!-- Javascript -->
    <script src="{% static 'homepage/js/scripts.min.js' %}"></script>
    <script src="{% static 'homepage/js/main.min.js' %}"></script>
    <script src="{% static 'homepage/js/custom.js' %}"></script>

  </body>
</html>
